// Font families
$font_family: "Century Gothic", sans-serif;

// Font sizes
$h0_font_size: 70px;
$h1_font_size: 50px;
$h2_font_size: 30px;
$h3_font_size: 25px;
$h4_font_size: 20px;
$body_font_size: 20px;
$small_print_font_size: 14px;
$date_font_size: 16px;

// Line heights
$h0_line_height: 84px;
$h1_line_height: 60px;
$h2_line_height: 36px;
$h3_line_height: 40px;
$h4_line_height: 32px;
$body_line_height: 32px;
$small_print_line_height: 17px;
$date_line-height: 19px;

// Tablet font sizes
$h0_font_size_tablet: 56px;
$h1_font_size_tablet: 40px;
$h2_font_size_tablet: 24px;
$h3_font_size_tablet: 20px;
$h4_font_size_tablet: 16px;
$body_font_size_tablet: 16px;

// Tablet line heights
$h0_line_height_tablet: 68px;
$h1_line_height_tablet: 48px;
$h2_line_height_tablet: 30px;
$h3_line_height_tablet: 32px;
$h4_line_height_tablet: 26px;
$body_line_height_tablet: 26px;

// Mobile font sizes
$h0_font_size_mobile: 42px;
$h1_font_size_mobile: 30px;
$h2_font_size_mobile: 20px;
$h3_font_size_mobile: 18px;

// Mobile line heights
$h0_line_height_mobile: 50px;
$h1_line_height_mobile: 36px;
$h2_line_height_mobile: 32px;
$h3_line_height_mobile: 28px;

// Customization
body {
	font-family: $font_family;
	font-size: $body_font_size;
	line-height: $body_line_height;
	@media (max-width: $screen-md-max) {
		font-size: $body_font_size_tablet;
		line-height: $body_line_height_tablet;
	}
}

h1 {
	font-size: $h1_font_size;
	line-height: $h1_line_height;
	@media (max-width: $screen-md-max) {
		font-size: $h1_font_size_tablet;
		line-height: $h1_line_height_tablet;
	}
	@media (max-width: $screen-xs-max) {
		font-size: $h1_font_size_mobile;
		line-height: $h1_line_height_mobile;
	}
}

h2 {
	font-size: $h2_font_size;
	line-height: $h2_line_height;
	@media (max-width: $screen-md-max) {
		font-size: $h2_font_size_tablet;
		line-height: $h2_line_height_tablet;
	}
	@media (max-width: $screen-xs-max) {
		font-size: $h2_font_size_mobile;
		line-height: $h2_line_height_mobile;
	}
}

h3 {
	font-size: $h3_font_size;
	line-height: $h3_line_height;
	@media (max-width: $screen-md-max) {
		font-size: $h3_font_size_tablet;
		line-height: $h3_line_height_tablet;
	}
	@media (max-width: $screen-xs-max) {
		font-size: $h3_font_size_mobile;
		line-height: $h3_line_height_mobile;
	}
}

h4 {
	font-size: $h4_font_size;
	line-height: $h4_line_height;
	font-weight: bold;
	@media (max-width: $screen-md-max) {
		font-size: $h4_font_size_tablet;
		line-height: $h4_line_height_tablet;
	}
}

a {
  color: inherit;
  &:hover,
  &:focus {
    color: inherit;
		background: transparent;
  }
}